.banner{
	height: 730px;
}
.banner .swiper-slide{
	height: 100%;
	cursor: pointer;
	background:no-repeat center center/cover;
}
.banner .swiper-pagination-bullet{
	background: #FFFFFF ;
}
.banner .swiper-pagination-bullet-active{
	background: #007aff;
	opacity: 0.8;
}
.about{
	overflow: hidden;
	margin: 95px 0;
}
.about-text{
	overflow: hidden;
	padding: 50px 0 30px;
	color: #c7c7c7;
	font-size: 14px;
	text-align: center;
	width: 900px;
	margin: 0 auto;
	border-bottom: 1px dashed #C7C7C7;
}
.about-text p{
	margin: 3px;
}
.about-main{
	width:950px;
	margin: 0 auto;
	overflow: hidden;
}
.course-main{
	height: 450px;
	width:950px;
	padding-bottom: 60px;
	position: relative;
}
.course-main ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 396px;
}
.about-main ul{
	width: 100%;
	overflow: hidden;
	margin: 55px auto;
}
.about-main li{
	float: left;
	text-align: center;
	width: 25%;
	box-sizing: border-box;
}
.about-main li .about-icon{
	width: 105px;
	height: 105px;
	border: 1px solid #c9c9c9;
	border-radius: 10px;
	line-height: 105px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.about-main li .about-icon:hover span{
	color: #C9C9C9;
}
.about-main li .about-icon span{
	font-size: 50px;
	color: #144e8d;
}
.about-main li p{
	color: #c7c7c7;
	font-size: 14px;
	margin-top: 30px;
	line-height: 2em;
	height: 48px;
	text-align: center;
}
.about-button{
	width: 190px;
	height: 55px;
	margin: auto;
	background: #0a67b0;
	line-height: 55px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
}
.about-button:hover{
	color: #fff;
}
.course{
	background: #144e8d;
	padding: 85px 0;
}
.course .home-title h1{
	color: #FFFFFF;
}
.course-icon{
	width: 105px;
	height: 105px;
	border: 6px solid #FFFFFF;
	border-radius: 50%;
	line-height: 105px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.course-icon span{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: no-repeat center center/cover;
}
.course-icon:hover span{
	transform: scale(1.4);
	transition: all 1s; 
}
.course-top{
	padding: 2px 8px;
    background: #f8b551;
    color: #fff;
    border-radius: 5px;
    margin-top: 55px;
    display: inline-block;
}
.course-button{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin-top: 20px;
	padding: 4px 20px;
	border-radius: 5px;
	display: inline-block;
}
.course-button:hover,.course-button:focus{
	color:#fff;
}
.course-up{
	width: 35px;
	height: 35px;
	border: 2px solid #FFFFFF;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	bottom: 0px;
	left: 48%;
	border-radius: 50%;
}
.course-up:hover,.course-up:focus{
	color:#fff;
}
.course-up .iconfont{
	font-size: 25px;
}
.arrow{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	height: 10px;
}
.arrow-l,.arrow-r{
	background: #FFFFFF;
	width: 50%;
	height: 100%;
	float: left;
	cursor: pointer;
}
.arrow-r{
	background: #ff6600;
}
.teachers{
	overflow: hidden;
	padding: 70px 0;
	margin-bottom: 35px;
}
.teachers .about-text{
	border: none;
}
.teachers-banner{
	position: relative;
	overflow: hidden;
	height: 460px;
	padding: 0 0 40px;
}
.teachers-banner .pagination{
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}
.teachers-banner .pagination span{
	width: 10px;
	height: 10px;
	background: #acacac;
	border-radius: 50%;
	margin: 0 10px;
	display: inline-block;
	cursor: pointer;
}
.teachers-banner .pagination span.active{
	background: #0858aa;
}
.teachers-banner ul{
	height: 420px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}
.teachers-banner li{
	height:50%;
	width: 25%;
	float: left;
	cursor: pointer;
	position: relative;
}
.teachers-banner li img,.teachers-banner li .main{
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.teachers-banner li .main{
	z-index: 2;
	background: #144e8d;
	opacity: 0.8;
	color: #fff;
	padding: 10% 5% 0;
	box-sizing: border-box;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
}
.teachers-banner li:hover .main{
	visibility: visible;
	opacity: 1;
}
.teachers-banner li .main p{
	line-height: 2em;
	margin-bottom: 15px;
}
.teachers-banner li .main .more{
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 22px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
}
.teachers-banner li .main .more a{
	color: #FFFFFF;
}
.teachers-banner .swiper-pagination{
	bottom: -50px !important;
}
.grow{
	height: 340px;
	width: 100%;
	background: #144e8d;
	border-bottom:4px solid  #feba29;
}
.grow .video{
	float: left;
	width: 50%;
	position: relative;
	height: 100%;
}
.grow .video video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1;
}
.video-img-show{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
	cursor: pointer;
}
.video-img-show span{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 46px;
	font-weight: 700;
	z-index: 3;
	color: #fff;
}
.video-img-show:hover img{
	transform: scale(1.1);
}
.video-img-show img{
	width: 100%;
	height: 100%;
	transition: all .4s;
}
.video-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 100%;
	background: no-repeat center center /cover;
}
.video-more{
	float: left;
	width: 50%;
	text-align: center;
	padding: 0 5%;
	box-sizing: border-box;
}
.video-more p{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 1.5em;
	margin: 3% 0 5%;
}
.video-icon{
	margin: 5% 0;
}
.video-icon span{
	color: #FFFFFF;
	font-size: 30px;
}
.video-more .home-title h1{
	color: #FFFFFF;
	font-size: 28px;
}
.video-more-btn{
	color: #144e8d;
	background: #FFFFFF;
	font-size: 18px;
	display: inline-block;
	border-radius: 40px;
	padding: 5px 20px;
}
.grow-banner{
	background: #f2f2f2;
	overflow: hidden;
	padding: 40px 0;
}
.grow-banner h1{
	color: #8e8e8e;
	text-align: center;
	margin-bottom: 20px;
	font-size: 16px;
}
.grow-banner h2{
	color: #b4b4b4;
	text-align: center;
	margin-bottom: 30px;
	font-size: 16px;
}
.grow-banner-main{
	position: relative;
	height: 170px;
	width: 100%;
}
.grow-banner-scroll{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.grow-banner-l,.grow-banner-r{
	position: absolute;
	top: 10%;
    width: 4%;
    cursor: pointer;
    height: 80%;
    background: no-repeat center center /contain;
}
.grow-banner-l{
	left: 0;
	background-image: url(../img/grow-banner-l.png);
}
.grow-banner-r{
	right: 0;
	background-image: url(../img/grow-banner-r.png);
}
.grow-banner-scroll ul{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.grow-banner-scroll li{
	float: left;
	width: 100%;
	height: 100%;
}
.grow-banner-main-img{
	float: left;
	width: 170px;
	height: 170px;
	background: no-repeat center center/cover;
	border-radius: 30px;
}
.grow-banner-main-icon{
	float: left;
	height: 170px;
	margin: 0 20px 0 30px;
	width: 15px;
	background: url(../img/grow-banner-icon.png) no-repeat center center;
}
.grow-banner-main-text{
	line-height: 1.5em;
	color: #b4b4b4;
	font-size: 16px;
	padding-top: 20px;
}
.news{
	overflow: hidden;
	padding: 105px 0 70px;
}
.news-main{
	position: relative;
	height: 460px;
	width: 100%;
	margin-top: 100px;
	overflow: hidden;
}
.news-main ul{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
}
.news-main li{
	width: 100%;
	float: left;
	height: 100%;
}
.news-img,.news-text{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.news-img .img{
	width: 100%;
	height: 230px;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 25px;
}
.news-img .img:hover img{
	transform: scale(1.2);
}
.news-img .img img{
	width: 100%;
	height: 100%;
	transition: all .5s;
}
.news-img h1{
	font-size: 16px;
	color: #777;
	margin-bottom: 25px;
}
.news-img p{
	margin-bottom: 25px;
	font-size: 14px;
	color: #b5b5b5;
}
.news-list{
	font-size: 14px;
	color: #144e8d;
	border: 1px solid #144e8d;
	padding: 5px 20px;
	display: inline-block;
}
.news-text{
	padding: 0 25px;
}
.news-text .item{
	padding: 18px 5px;
	overflow: hidden;
	border-bottom: 1px solid #b5b5b5;
}
.news-text .item:hover{
	background: #F5F5F5;
}
.news-text-time{
	float: left;
	width: 90px;
}
.news-text-time h4{
	font-size: 56px;
	color: #B5B5B5;
}
.news-text-time h5{
	font-size: 12px;
	color: #B5B5B5;
}
.news-text-contain{
	float: right;
	width: 410px;
}
.news-text-contain h2{
	font-size: 16px;
	color: #737373;
	margin-bottom: 20px;
}
.news-text-contain p{
	font-size: 12px;
	color: #B5B5B5;
	line-height: 2em;
}
.news-main-btn{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
}
.news-main-btn-l,.news-main-btn-r{
	width: 55px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
	color: #FFFFFF;
	background: #144e8d;
	cursor: pointer;
}
.news-main-btn-l{
	background: #f09f02;
}
.news-main-btn a{
	font-size: 16px;
	color: #8c8c8c;
	display: inline-block;
	margin-top: 5px;
}
.baoming{
	width: 100%;
}
.baoming img{
	width: 100%;
}
.sign{
	overflow: hidden;
	padding: 70px 0 40px;
	border-bottom: 1px dashed #C7C7C7;
}
.sign-text,.sign-form{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.sign-text .home-title h1{
	font-size: 26px;
	text-align: left;
	color: #116ed3;
}
.sign-text .home-title span{
	margin:10px 20px 30px;
}
.sign-text h2{
	font-size: 16px;
	color: #737373;
	margin-bottom: 20px;
	line-height: 1.5em;
}
.sign-text p{
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 15px;
	color: #737373;
}
.sign-form .form-horizontal .control-label{
	text-align: left;
	font-weight: normal;
	color: #737373;
}
.sign-form{
	color:#737373;
}
.sign-form-btn{
	margin-top: 60px;
}
.sign-form-btn button{
	padding: 10px 55px;
	background: #144e8d;
	color: #fff;
	border-radius: 0;
}
.sign-form-btn button:hover{
	color: #fff;
}
.sign-form .form-group{
	margin-bottom: 20px;
}
.icon-link{
	overflow: hidden;
	margin:50px 0 100px;
}
.icon-link li{
	float: left;
	width: 25%;
	border-right: 1px dashed #b4b4b4;
	box-sizing: border-box;
	padding-left: 3%;
}
.icon-link li:last-child{
	border: none;
}
.icon-link-main{
	overflow: hidden;
}
.icon-link-main-img{
	width: 124px;
	height: 124px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.icon-link-main-img img:hover{
	transform: scale(1.1);
	transition: all 1s;
}
.icon-link-main-img img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.icon-link-main-text{
	float: left;
	margin-left: 20px;
}
.icon-link-main-text h4{
	font-size: 20px;
	margin: 28px 0 14px;
	color: #E7E7E7;
}
.icon-link-main-text h5{
	font-size: 20px;
	color: #b4b4b4;
}

/*媒体查询*/
@media  screen and (min-width: 1750px) {
	.icon-link li{
		padding-left: 4%;
	}
}
@media  screen and (min-width: 1300px) and (max-width: 1600px) {
	.icon-link-main-img, .icon-link-main-img img{
		width: 85px;
		height: 85px;
	}
	.icon-link-main-text h4{
		margin-top: 15px;
		font-size: 17px;
	}
	.icon-link-main-text h5{
		font-size: 17px;
	}
}
@media  screen and (min-width: 640px) and (max-width: 1299px) {
	
	.icon-link-main-text h4{
		margin-top: 15px;
		font-size: 17px;
	}
	.icon-link-main-text h5{
		font-size: 17px;
	}
}
@media  screen and (min-width: 100px) and (max-width: 640px) {
	.banner{
		height: 240px;
	}
	.about{
		margin-top: 20px;
	}
	.about-text{
		width: 90%;
		padding: 20px 0;
	}
	.about-main{
		width: 100%;
	}
	.about-main ul{
		margin: 20px 0;
	}
	.about-main li{
		width: 50%;
		margin-bottom: 15px;
	}
	.about-main li p{
		margin: 5px 0 0 0;
	}
	.course {
		padding: 20px 0;
	}
	.course-main{
		height: 380px;
	}
	.course-main ul{
		width: 100% !important;
		margin-bottom: 0;
	}
	.course-main li{
		width: 50% !important;
		height: 100%;
	}
	.course .arrow {
		display: none;
	}
	.about-main li p{
		height: 52px;
		overflow: hidden;
	}
	.teachers-banner,.teachers-banner ul{
		height: 340px;
	}
	.teachers-banner li{
		width: 50%;
	}
	.grow{
		height: 240px;
	}
	.grow .video{
		width: 100%;
	}
	.grow-banner-main{
		height: 270px;
	}
	.grow-banner-main-icon{
		display: none;
	}
	.grow-banner-main-img{
		width: 100%;
		height: 140px;
		border-radius: 10px;
	}
	.grow-banner-main-text{
		clear: both;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.grow-banner{
		padding: 40px 0 0;
	}
	.news-img, .news-text{
		width: 100%;
	}
	.news-text{
		display: none;
	}
	.news-img p{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
	}
	.news-img{
		padding: 0 10px;
	}
	.news-main-btn{
		right: 10px;
	}
	.baoming{
		display: none;
	}
	.sign-text, .sign-form{
		width: 100%;
		padding: 0 10px;
	}
	.sign{
		padding-top: 0;
	}
	.sign-text h2,.sign-text p{
		margin-bottom: 10px;
	}
	.sign-form{
		margin-top: 20px;
		font-size: 16px;
	}
	.sign-form-btn{
		margin-top: 20px;
	}
	.icon-link li{
		width: 50%;
		padding: 0;
		margin-bottom: 20px;
	}
	.icon-link-main-img{
		width: 85px;
		height: 85px;
	}
	.icon-link-main-img,.icon-link-main-text{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.icon-link-main-text h4 {
	    font-size: 18px;
	    margin: 15px 0 10px;
	}
	.icon-link-main-text h5{
		font-size: 18px;
	}
}