.gopay{
	background: #f7f7f7;
	overflow: hidden;
	padding: 35px 0;
}
.gopay-main{
	overflow: hidden;
	background: #FFFFFF;
	padding: 50px;
}
.gopay-main-top{
	padding: 0 0 15px;
	border-bottom: 1px solid #e2e2e2;
}
.form-title{
	width: 100%;
	display: flex;
	color: #878787;
	font-size: 14px;
}
.sign-name,.content-name{
	flex: 5;
}
.sign-nav{
	display: flex;
	padding: 0 10px;
}
.sign-nav span{
	border-bottom: 2px solid #cfcfcf;
	padding: 15px 0;
}
.sign-name span{
	border-bottom: 2px solid #1d88db;
}
.sign-price,.sign-num,.sign-discount,.sign-all,.content-price,.content-num,.content-discount,.content-all{
	flex: 1;
	justify-content: center;
    align-items: center;
}
.form-item{
	color: #878787;
	font-size: 14px;
	overflow: hidden;
	margin: 30px 0;
}
.form-item ul{
	display: flex;
}
.item-all-price{
	text-align: right;
	color: #878787;
	font-size: 14px;
}
.item-all-price span{
	color: #ff6029;
}
.gopay-main-center{
	padding: 35px 10px;
	overflow: hidden;
	border-bottom: 1px solid #e2e2e2;
}
.title-name{
	color: #878787;
	font-size: 14px;
	margin-bottom: 35px;
}
.code{
	color: #bfbfbf;
	
	font-size: 14px;
}
.code-input{
	float: left;
}
.code-price{
	float: right;
}
.gopay-phone{
	color: #a5a5a5;
	font-size:14px ;
}
.gopay-phone input{
	border: 1px solid #e2e2e2;
	outline: none;
	margin-left: 20px;
	color: #a5a5a5;
	width: 280px;
	border-radius: 5px;
	padding: 10px 20px;
}
.gopay-main-footer{
	padding: 35px 50px;
}
.gopay-main-footer .discount{
	text-align: right;
	color: #a5a5a5;
	font-size: 14px;
}
.all-price{
	text-align: right;
	font-size: 26px;
	color: #ff6029;
	margin: 30px 0;
}
.gopay-btn{
	text-align: right;
}
.gopay-btn a,.pay-btn span{
	background: #ff6029;
	color: #FFFFFF;
	display: inline-block;
	cursor: pointer;
	padding: 10px 25px;
	border-radius: 5px;
	margin: 15px 0;
}
/*支付*/
.time-alert{
	color: #878787;
	font-size: 14px;
}
.time-alert span{
	color: #ff6e41;
}
.order-content{
	color: #b5b5b5;
	font-size: 14px;
	margin: 20px 0;
}
.order-content-left{
	float: left;
}
.order-content-left span{
	margin-right: 20px;
}
.order-content-right{
	float: right;
	color: #ff5f28;
	font-size: 25px;
}
.platform{
	background: #f8f8f8;
	padding: 20px 15px;
}
.platform-title{
	padding: 20px 0 ;
	font-size: 14px;
	color: #7a7a7a;
	border-bottom: 1px solid #9d9d9d;
}
.platform-choice{
	padding: 30px;
}
.platform-choice span{
	display: inline-block;
	background: #ffffff;
	padding: 5px 0 3px;
	width: 140px;
	text-align: center;
	border: 1px solid #cdcdcd;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 30px;
}
.pay-btn {
	margin: 60px 0;
}
.problem{
	overflow: hidden;
	margin-bottom: 100px;
}
.problem h2{
	font-size: 16px;
	color: #9a9a9a;
	margin-bottom: 25px;
}
.problem p,.problem a{
	color: #b6b6b6;
	font-size: 14px;
	margin-bottom: 10px;
}
/*pay*/
.pay_hr{text-align: center;font-size: 22px;color:#3d3d3d;}
.pay_hr img{margin-bottom: -12px;display: inline-block;}
.pay_address{width:100%;padding: 1%;border:solid 1px #eeeeee;background-color: #fafafa;margin: 3% 0 2%;}
.pay_address p{font-size:14px;color:#3d3d3d;margin: 10px 0;}
.pay_address p span{margin-right: 5%;}
.paying{width:100%;padding: 2%;border:solid 1px #eeeeee;margin: 5px 0;}
.pay_type{overflow: hidden;margin-left: 2%;}
.pay_type li{cursor:pointer;float: left;width:150px;height:42px;text-align:center;line-height:42px;font-size: 18px;color:#383838;margin: 0 10px;border:solid 1px #eeeeee;border-bottom:0;background-color: #eee;}
.pay_type li.li_cur{background-color: #fff;}
.pays{padding: 1% 1% 5%;border:solid 1px #eeeeee;margin-top: -1px;}
._pays p{color:#b4b4b4;margin: 10px 0;}
.pay_box{display: inline-block;}
.pay_radio{overflow: hidden;}
.pay_radio li{cursor:pointer;float: left;margin: 2%;overflow: hidden;}
.pay_box,.pay_box2{float: left;}
.pay_box input,.pay_radio2{display: none;}
.pay_box{margin-top: 10px;padding: 0 10px;}
.pay_box2{border:solid 1px #eee;}
.pay_box2.img_cur{border:solid 1px #6eaf4f;}
.pay_two{overflow: hidden;}
.pay_sm{width:200px;text-align: center;float: right;margin-right: 10%;}
.pay_sm p{font-size:18px;color:#383838;}
._pays{display: none;}
.pay_money{font-size:14px;color:#383838;}
.pay_money span{font-size:22px;color:#01a29c;}
.pay_ming,.pay_money{margin: 10px;}
.pay_ming a{display: inline-block;font-size:18px;color:#fff;background-color: #01a29c;width:110px;height:32px;line-height: 32px;text-align: center;}
.pay_more{margin: 5%;color:#000;}
.pay_more a{color:#002aff;text-decoration: underline !important;}
.pay_more a img{margin-bottom: -2px;margin-left: 2px;}
.pay_cont2{background-color: #f5f5f5;padding: 5% 0;width: 100%;}
.pay_hr2{font-size:28px;}
.pay_hr2 img{margin-bottom: -8px;margn-top: -7px;}
.pay_suc{width:100%;height:50px;line-height: 50px;background-color: #e4e4e4;padding-left:25%;margin: 2% 0;}
.pay_suc span{font-size:14px;color:#3d3d3d;}
.pay_suc em{margin-right: 20%;}
.pay_suc i{font-size: 16px;color:#da6216;}
.pay_suc font{font-size: 14px;color:#0066b3;}
.pay_p{font-size: 14px;color:#777777;text-align: center;margin-top: 1%;margin-bottom: 3%;}
.pay_p span{font-size: 14px;color:#f16d15;}
.pay_other{font-size: 15px;color:#a8a8a8;text-align: center;}
.pay_other a,.pay_other span{margin: 0 4px;font-size: 15px;color:#0066b3;}
.pay_other .contiu{display:inline-block;width:85px;height:32px;line-height: 32px;text-align: center;color:#fff;background-color: #009944;}

@media screen and (min-width: 100px) and (max-width: 640px) {
	.gopay{
		margin: 20px 0;
		padding: 0;
	}
	.gopay-main{
		padding:5px;
	}
	.form-item{
		margin: 10px 0;
		font-size: 12px;
	}
	.gopay-main-center{
		padding: 10px 5px;
	}
	.title-name{
		margin-bottom: 10px;
	}
	.gopay-phone input{
		margin-left: 0;
		width: 160px;
	}
	.gopay-phone,.code{
		font-size: 12px;
	}
	.gopay-main-footer{
		padding: 10px;
	}
	.all-price{
		margin: 10px 0;
	}
	.order-content-left span{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.order-content-left,.order-content-right{
		width: 100%;
		margin-bottom: 15px;
	}
	.platform-choice{
		padding: 20px 0;
	}
	.platform-choice span{
		margin: 0;
	}
	.pay-btn{
		margin: 10px 0 20px;
	}
}