.details{
	overflow: hidden;
	padding-bottom: 150px;
	background-color: #f7f7f7;
}
.details-title{
	color: #6c6c6c;
	font-size: 14px;
	margin: 20px 0;
}
.details-top{
	overflow: hidden;
	background: #FFFFFF;
	padding: 20px;
}
.details-top-img{
	float: left;
	width: 450px;
}
.details-top-img .video{
	width: 100%;
	position: relative;
	height: 330px;
}
.details-top-img .video .video-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 40px;
	background: rgba(0,0,0,.4);
	color: #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	transform: translate(-50%,-50%);
	z-index: 111;
	cursor: pointer;
}
.details-top-img .video .video-btn span{
	margin-right: 10px;
}
.details-top-img .video .img-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.details-top-img .video .img-box img{
	width: 100%;
	height: 100%;
	transition: all .4s;
}
.details-top-img .video .img-box:hover img{
	transform: scale(1.2);
}
.details-top .fun{
	font-size: 14px;
	color: #8c8c8c;
	cursor: pointer;
	margin-top: 15px;
}
.details-top .fun .share{
	float: left;
	cursor: pointer;
	margin-right: 10px;
}
.details-top .fun .shoucang{
	float: left;
}
.details-top .fun .message{
	float: right;
}
.details-text{
	float: right;
	width: 670px;
}
.details-text h1{
	font-size: 18px;
	color: #666666;
}
.details-text-content{
	background: #f3f3f3;
	padding: 25px;
	margin: 15px 0;
}
.details-text-content span{
	margin-right: 20px;
	color: #8c8c8c;
	font-size: 14px;
}
.details-text .cost{
	border-bottom: 1px solid #d2d2d2;
	padding: 20px 0;
}
.details-text .cost .price{
	float: left;
	margin-right: 35px;
	font-size: 16px;
	color: #8C8C8C;
}
.details-text .cost .price span{
	color: #fc9e0f;
	margin-left: 10px;
}
.details-text .cost .people{
	font-size: 14px;
	color: #6c6c6c;
}
.details-text .down{
	margin: 15px 0 45px;
}
.details-text .down a{
	color: #8c8c8c;
	font-size: 14px;
	margin-right: 25px;
}
.details-text .down span{
	margin-right: 10px;
}
.details-text .buttons{
	margin-bottom: 20px;
}
.details-text .buttons span{
	display: inline-block;
	margin-right:30px ;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.details-text .buttons .try{
	background: #1d88db;
	color: #FFFFFF;
}
.details-text .buttons .sign{
	background: #FFFFFF;
	color: #1d88db;
	border: 1px solid #1D88DB;
}
.details-text .buttons .sign a{
	color: #1d88db;
}
.details-text .message{
	text-align: right;
	color: #8C8C8C;
	font-size: 14px;
}
.details-bottom{
	overflow: hidden;
	margin-top: 35px;
}
.details-tab{
	border: 1px solid #eaeaea;
	background: #FFFFFF;
	width: 78%;
	float: left;
	overflow: hidden;
}
.details-teacher{
	float: right;
	width: 20%;
	border: 1px solid #eaeaea;
	background: #FFFFFF;
	overflow: hidden;
}
.details-tab-nav{
	color: #666666;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eaeaea;
}
.details-tab-nav li{
	float: left;
	width: 180px;
	cursor: pointer;
	text-align: center;
}
.details-tab-nav li.active{
	background: #1d88db;
	color: #FFFFFF;
}
.details-tab-content{
	padding: 40px 35px;
}
.details-tab-content p{
	color: #8c8c8c;
	font-size: 14px;
}
.details-teacher-title{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eaeaea;
	color: #8c8c8c;
	font-size: 14px;
	padding: 0 10px;
}
.details-teacher-introduce{
	padding: 10px;
}
.details-teacher-introduce img{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	float: left;
}
.details-teacher-introduce-text{
	float: left;
	margin-left: 20px;
}
.details-teacher-introduce-text h2{
	font-size: 14px;
	margin-bottom: 10px;
	color: #8c8c8c;
}
.details-teacher p{
	color: #8c8c8c;
	font-size: 12px;
}
@media screen and (min-width: 100px) and (max-width: 640px) {
	.details-title{
		padding: 0 10px;
	}
	.details-top{
		padding: 0 10px;
	}
	.details-top-img,.details-text{
		width: 100%;
		float: none;
	}
	.details-top-img .video{
		height: 240px;
	}
	.details-top .fun{
		overflow: hidden;
	}
	.details-top .fun .message{
		width: 100%;
		margin: 10px 0 20px;
	}
	.details-text-content{
		padding: 10px 5px;
	}
	.details-text .down{
		margin: 10px 0 25px;
	}
	.details-text .message{
		padding: 5px 0 15px;
		text-align: left;
	}
	.details-tab,.details-teacher{
		width: 100%;
		float: none;
	}
	.details-tab-nav{
		height: 38px;
		line-height: 38px;
		font-size: 14px;
	}
	.details-tab-nav li{
		width: 33.33%;
	}
	.details{
		padding-bottom: 30px;
	}
}