/*注册*/
.right-fdd2{
	display: none;
}
.main{
	height: 520px;
	border-bottom: 3px solid #FFFFFF;
	background: url(../img/banner-home1.jpg) no-repeat center center /cover;
}
.main-content{
	width: 380px;
	padding-bottom: 20px;
	margin-top: 20px;
	background: #FFFFFF;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}
.main-content-title{
	margin-bottom: 20px;
}
.main-content-title span{
	font-size: 26px;
	color: #333333;
}
.form-item{
	overflow: hidden;
	padding:10px 20px;
	margin-bottom: 14px;
	border: 1px solid #c0c0c0;
}
.form-item input,.form-item label{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: normal;
}
.form-item input{
	float: right;
	width: 78%;
	border: none;
	outline: none;
}
.form-item label{
	float: left;
	width: 22%;
}
.form-select{
	margin-bottom: 75px;
}
.form-select .btn-group{
	width: 49%;
	float:left;
}
.form-select .btn-group:last-child{
	width: 49%;
	float:right;
}
.form-select .btn-group button{
	width: 100%;
	padding:10px 20px;
	border-radius: 0;
	font-size: 16px;
}
.form-select .btn-group>.btn{
	text-align: left;
}
.form-select .btn-group>.btn span{
	margin-left: 20px;
	font-size: 20px;
}
.form-select .btn-group>.btn span.contain{
	margin-left: 0;
	font-size: 16px;
}
.form-item .yzm{
	float: left;
	width: 78%;
}
.form-item .yzm input{
	width: 58%;
	float: left;
}
.form-item .yzm span{
	float: left;
	width: 40%;
	line-height: 25px;
	text-align: right;
	border-left: 1px solid #fa5e21;
	cursor: pointer;
}
.form-item .yzm input[type=button]{
	width: 100%;
	float: none;
	color: #fa5e21;
	background: none;
	font-size: 14px;
}
.register-btn,.login-btn{
	overflow: hidden;
	padding: 0 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.register-btn button,.login-btn button{
	width: 100%;
	font-size: 20px;
	color: #FFFFFF;
	background: #fa5e21;
	outline: none;
    border: none;
    padding: 6px 0;
}
.register-text{
	color: #999;
}
.register-text span{
	float: left;
}
.register-text span:last-child{
	float: right;
}
.register-text span a{
	color: #fa5e21;
}
/*登陆*/
.login-head{
	overflow: hidden;
}
.login-head .account,.login-head .quick{
	float: left;
	width: 50%;
	border-bottom: 2px solid #e8e8e8;
	color:#959595;
	font-size: 16px;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.login-head .active{
	border-color: #fa5e21;
	color: #fa5e21;
}
.account-main .input-group-addon{
	color: #cecece;
	background: none;
	border-right: none;
	padding: 14px 14px;
	border-radius: 0;
}
.account-main .form-group input{
	padding: 12px 14px;
	display: table-cell;
	position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}
.forget,.forget .checkbox{
	overflow: hidden;
}
.forget .checkbox{
	margin: 0;
}
.forget .checkbox label{
	float: left;
	color: #959595;
}
.forget .checkbox a{
	float: right;
	color: #959595;
}
.go-register{
	text-align: center;
	color: #999;
}
.go-register a{
	color: #fa5e21;
}
.quick-main{
	display: none;
}
@media screen and (min-width: 100px) and (max-width: 640px) {
	.main{
		background: #FFFFFF;
		height: auto;
		padding: 20px 0;
		overflow: hidden;
	}
	.main-content-title span{
		display: none;
	}
	.main-content{
		width: 100%;
		margin: 0;
		padding: 10px 5px;
	}
}