.personal{
	overflow: hidden;
	background: #F7F7F7;
	padding: 50px 0 170px;
}
.personal-main{
	border: 1px solid #e8e8e8;
	overflow: hidden;
	background: #f1f1f1;
}
.personal-nav{
	float: left;
	width: 17.5%;
	box-sizing: border-box;
	border-right: 1px solid #E8E8E8;
	background: #f1f1f1;
}
.personal-content{
	float: left;
	width: 82.5%;
	background: #FFFFFF;
	height: 100%;
	box-sizing: border-box;
	padding: 40px 30px;
}
.personal-nav-top{
	padding: 20px 10px;
	border-bottom: 2px solid #e1e4eb;
	text-align: center;
}
.personal-nav-top .img{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	margin: 0 auto;
	background: no-repeat center center /cover;
	margin-bottom: 15px;
}
.personal-nav-top p{
	color: #636363;
	font-size: 14px;
}
.personal-nav ul{
	overflow: hidden;
	text-align: center;
	padding: 20px 0;
}
.personal-nav li{
	color: #636363;
	padding: 15px 0;
	margin: 12px 0;
	cursor: pointer;
}
.personal-nav li.active{
	background: #FFFFFF;
	border-left: 2px solid #29a2d7;
}
.personal-nav li:hover{
	background: #FFFFFF;
	border-left: 2px solid #29a2d7;
}
.personal-nav li span{
	color: #a1a1a1;
	margin-right: 10px;
}
.personal-title{
	color: #636363;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
}
.personal-form{
	margin-top: 25px;
	padding:0 15px;
}
.personal-form-title span{
	border-bottom: 2px solid #1e89db;
	color: #636363;
	font-size: 16px;
	padding-bottom: 10px;
	display: inline-block;
}
.personal-form-item{
	overflow: hidden;
	margin-top: 35px;
	color: #858585;
	font-size: 14px;
}
.personal-form-name{
	float: left;
	width: 90px;
	line-height: 40px;
}
.personal-form-portrait{
	float: left;
	width: 90px;
	color: #858585;
	font-size: 14px;
	line-height: 75px;
}
.personal-form-item .fileStyle{
	float: left;
	width: 75px;
	height: 75px;
	position: relative;
	
}
.personal-form-item .fileStyle input{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}
.personal-form-item .fileStyle label,.personal-form-item .fileStyle img{
	width: 75px;
	height: 75px;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
}
.changeName{
	color: #1e89db;
	margin-left: 20px;
}
.personal-input{
	width: 200px;
	height: 45px;
	line-height: 40px;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	outline: none;
	color: #858585;
	padding: 0 10px;
	box-sizing: border-box;
}
.personal-form-item textarea{
	width: 660px;
	height: 150px;
	resize: none;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	color: #858585;
	padding:10px;
	box-sizing: border-box;
	outline: none;
}
.personal-form-item .surplus{
	text-align: right;
	font-size: 12px;
	width: 750px;
}
.personal-btn{
	background: #1e88dc;
	font-size:20px;
	color: #FFFFFF;
	width: 170px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin: 90px 0 0 90px;
	border-radius: 5px;
}
@media screen and (min-width: 100px) and (max-width: 640px) {
	.personal-nav{
		width: 25%;
	}
	.personal-content{
		width: 75%;
	}
	.personal-nav-top{
		padding: 10px 5px;
	}
	.personal-nav-top .img{
		width: 60px;
		height:60px;
	}
	.personal-nav-top p{
		font-size: 12px;
	}
	.personal-nav li{
		margin: 10px 0;
		padding: 10px 0;
		font-size: 12px;
	}
	.personal-nav ul{
		padding: 0;
	}
	.personal-content{
		padding: 10px 5px;
	}
	.personal-form{
		padding: 5px;
		margin-top: 15px;
	}
	.personal-form-item{
		font-size: 12px;
		margin-top: 20px;
	}
	.personal-input{
		width: 100%;
		height: 35px;
		line-height: 35px;
	}
	.personal-form-name{
		line-height: 35px;
	}
	.personal-form-item textarea{
		width: 100%;
	}
	.personal-btn{
		margin-top: 20px;
	}
	.personal{
		padding: 30px 0 80px;
	}
}